<div>
    <div>
      	<label>Map Service URL:</label>
        <br>
        <input type="text" name="mapSvrUrl" id="mapSvrUrl" value="https://services.arcgis.com/uDTUpUPbk8X8mXwl/arcgis/rest/services/Public_Schools_in_Onondaga_County/FeatureServer/0">&nbsp;<span id="errmsg"></span>
        <br>
    </div>	
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnCreateCedar" data-dojo-attach-event="click:onCreateCedar">Cedar Chart</button>
</div>
